@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/IBMPlexMono-Italic.ttf");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/IBMPlexMono-Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/IBMPlexMono-BoldItalic.ttf");
}

@font-face {
  font-display: swap;
  font-family: "UnifrakturCook";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/UnifrakturCook-Bold.ttf");
}
