$black: rgba(0, 0, 0, 1);
$black-translucent: rgba(0, 0, 0, 0.65);
$white: rgba(255, 255, 255, 1);
$white-translucent: rgba(255, 255, 255, 0.65);
$yellow: rgba(255, 232, 0, 1);
$yellow-translucent: rgba(255, 232, 0, 0.65);

$color-map: (
  black: $black,
  black-translucent: $black-translucent,
  white: $white,
  white-translucent: $white-translucent,
  yellow: $yellow,
  yellow-translucent: $yellow-translucent,
  none: none
);

$font-sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
$font-palatino: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Times, "Times New Roman", serif;

$font-map: (
  sans-serif: $font-sans-serif,
  palatino: $font-palatino,
  unifraktur: "UnifrakturCook",
  plex-mono: "IBM Plex Mono"
);

$sizing-map: (
  -2: var(--step--2),
  -1: var(--step--1),
  0: var(--step-0),
  1: var(--step-1),
  2: var(--step-2),
  3: var(--step-3),
  4: var(--step-4),
  5: var(--step-5)
);

$spacing-map: (
  3xs: var(--space-3xs),
  2xs: var(--space-2xs),
  xs: var(--space-xs),
  s: var(--space-s),
  m: var(--space-m),
  l: var(--space-l),
  xl: var(--spacae-xl),
  2xl: var(--space-2xl),
  3xl: var(--space-3xl)
);

:root {
  --font-size: var(--step-0);
}
