.dashboard-cover {
  --progress: 0;

  background-attachment: fixed;
  background-color: var(--color-foreground);
  background-image: url("../images/exlibris_yellow.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: calc(80vw + (60vw * var(--progress)));
  display: flex;
  flex-direction: column;
  min-height: 150vh;
}

.dashboard-cover--content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100vh;
  rotate: calc(-0.06turn * var(--progress)); // Highlight is drawn after rotation applied causing a weird result
}
