.icon {
  fill: var(--icon-color, var(--color-background));
  height: var(--icon-size, var(--font-size));
  width: var(--icon-size, var(--font-size));

  .primary {
    fill: var(--icon-color, var(--color-foreground));
  }

  .secondary {
    fill: var(--icon-color, var(--color-foreground-translucent));
  }
}

@each $sizing-name, $value in $sizing-map {
  .icon-#{$sizing-name} {
    --icon-size: $value;
  }
}
