$sizing-rules: (
  h: height,
  mh: max-height,
  mw: max-width,
  w: width
);

@each $class-name, $rule in $sizing-rules {
  @each $sizing-name, $value in $sizing-map {
    .#{$class-name}-#{$sizing-name} {
      #{$rule}: $value;
    }
  }
}

.mw-measure {
  max-width: var(--measure);
}

.w-measure {
  max-width: var(--measure);
}
