<h1><%= @entry.name %></h1>

<div class="cluster">
  <div>
    <%= link_to t(".edit_link"), edit_entry_path(@entry) %>
    <%= button_to t(".delete_button"), entry_path(@entry), method: :delete, data: { confirm: t(".delete_button_confirmation") } %>
  </div>
</div>

<%= @entry.description %>
