<%= link_to entry, class: "tw-font-body tw-h-64 tw-w-64 tw-bg-accent-4 tw-p-4 tw-relative tw-block" do %>
  <% if entry.cover.attached? %>
    <%= image_tag entry.cover, class: "tw-object-contain tw-w-full tw-h-full" %>
  <% end %>

  <div class="tw-bottom-0 tw-left-0 tw-absolute tw-bg-accent-4/50 tw-p-2 tw-backdrop-blur tw-right-0">
    <div class="tw-text-xl tw-text-accent-11">
      <span><%= entry.name %></span>
    </div>

    <div class="tw-text-accent-11 tw-font-light">
      <% category_tags.each do |category| %>
        <span><%= category.name %></span>
      <% end %>
    </div>
  </div>
<% end %>
