<%= link_to entry do %>
  <%= tag.div class: "tile", style: (entry.cover.attached? ? "--cover-image: url('#{cover_url}');" : "") do %>
    <div class="tile--cover"></div>

    <div class="tile--detail | imposter">
      <div class="tw-text-3xl">
        <span class="tw-bg-primary-1" data-controller="highlight"><%= entry.name %></span>
      </div>

      <div>
        <% category_tags.each do |category| %>
          <span class="tw-bg-accent-1" data-controller="highlight"><%= category.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
