.columns {
  --columns: 3;
  --items: 12;
  --items-per-column: calc(var(--items) / var(--columns));

  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--space-xs);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--items-per-column), 1fr);
}
