.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.switcher > * {
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

.switcher > :nth-last-child(n+5),
.switcher > :nth-last-child(n+5) ~ * {
  flex-basis: 100%;
}
