<div class="tw-flex tw-flex-col tw-gap-6">
  <h2 class="tw-font-display tw-text-6xl tw-font-extrabold"><%= t ".heading" %></h2>

  <dl class="switcher | tw-font-body">
    <% categories.in_groups(3, false) do |category_group| %>
      <div class="tw-flex tw-flex-col tw-gap-3 tw-text-center">
        <% category_group.each do |category| %>
          <div>
            <dt><%= link_to category.name, category %></dt>
            <dd><%= category.short_description %></dd>
          </div>
        <% end %>
      </div>
    <% end %>
  </dl>
</div>
