.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.hidden-if-only-child:first-child:last-child {
  display: none;
}

.relative {
  position: relative;
}
