@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("IBMPlexMono-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url("IBMPlexMono-Italic.ttf");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("IBMPlexMono-Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  src: url("IBMPlexMono-BoldItalic.ttf");
}

@font-face {
  font-display: swap;
  font-family: UnifrakturCook;
  font-style: normal;
  font-weight: 700;
  src: url("UnifrakturCook-Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: url("Alegreya-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400;
  src: url("Alegreya-Italic.ttf");
}

@font-face {
  font-display: swap;
  font-family: Alegreya;
  font-style: normal;
  font-weight: 800;
  src: url("Alegreya-ExtraBold.ttf");
}

@font-face {
  font-display: swap;
  font-family: Alegreya;
  font-style: italic;
  font-weight: 800;
  src: url("Alegreya-ExtraBoldItalic.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 100;
  src: url("AlegreyaSans-Thin.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 100;
  src: url("AlegreyaSans-ThinItalic.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  src: url("AlegreyaSans-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 400;
  src: url("AlegreyaSans-Italic.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  src: url("AlegreyaSans-Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 700;
  src: url("AlegreyaSans-BoldItalic.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 800;
  src: url("AlegreyaSans-ExtraBold.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 800;
  src: url("AlegreyaSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Azeret Mono";
  font-style: normal;
  font-weight: 400;
  src: url("AzeretMono-VariableFont_wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Azeret Mono";
  font-style: italic;
  font-weight: 400;
  src: url("AzeretMono-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Azeret Mono";
  font-style: normal;
  font-weight: 700;
  src: url("AzeretMono-VariableFont_wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Azeret Mono";
  font-style: italic;
  font-weight: 700;
  src: url("AzeretMono-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Rubik Glitch";
  font-style: normal;
  font-weight: 400;
  src: url("RubikGlitch-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Silkscreen;
  font-style: italic;
  font-weight: 400;
  src: url("Silkscreen-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Silkscreen;
  font-style: italic;
  font-weight: 700;
  src: url("Silkscreen-Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: url("VT323-Regular.ttf");
}

html {
  font-size: var(--font-size);
}
