/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1140,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
  (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 9.72;
  --f--2-max: 11.52;
  --step--2: calc(((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
  var(--fluid-bp));

  --f--1-min: 11.67;
  --f--1-max: 14.4;
  --step--1: calc(((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
  var(--fluid-bp));

  --f-0-min: 14;
  --f-0-max: 18;
  --step-0: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
  var(--fluid-bp));

  --f-1-min: 16.8;
  --f-1-max: 22.5;
  --step-1: calc(((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
  var(--fluid-bp));

  --f-2-min: 20.16;
  --f-2-max: 28.13;
  --step-2: calc(((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
  var(--fluid-bp));

  --f-3-min: 24.19;
  --f-3-max: 35.16;
  --step-3: calc(((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
  var(--fluid-bp));

  --f-4-min: 29.03;
  --f-4-max: 43.95;
  --step-4: calc(((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
  var(--fluid-bp));

  --f-5-min: 34.84;
  --f-5-max: 54.93;
  --step-5: calc(((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
  var(--fluid-bp));
}
