<% content_for(:title) do %><%= t(".title") %><% end %>

<div class="stack stack-l | tw-font-body align-center">
  <h1 class="tw-font-display size-5"><%= t(".title") %></h1>

  <h2>Questing Adventurer</h2>
  <ul class="credits-list" style="--columns: 1;" role="list">
    <li>Kevin B.</li>
  </ul>

  <h2>Dungeon Degenerate</h2>
  <ul class="credits-list" style="--columns: 1;" role="list">
    <li>Ryklan Rolfsson</li>
  </ul>

  <h2>LARPing Librarian</h2>
  <ul class="credits-list" style="--columns: 2;" role="list">
    <li>Bryan Barletta</li>
    <li>Davide Cavadini</li>
    <li>Derek Gustafson</li>
    <li>Johan Nohr</li>
    <li>John Bannister</li>
    <li>Macathu</li>
    <li>Mcglintlock</li>
    <li>newyear Studios</li>
    <li>Phillip Meagher</li>
    <li>Rascovich</li>
    <li>rom rom</li>
    <li>Seedling Games</li>
    <li>Stein Hansen</li>
  </ul>

  <h2>Benevolent Scribe</h2>
  <ul class="credits-list" style="--columns: 2;" role="list">
    <li>Afterthought Committee</li>
    <li>Bijan F. Zavareei</li>
    <li>Bookkeeper</li>
    <li>Derrick Long</li>
    <li>DW Dagon</li>
    <li>Greyson Yandt</li>
    <li>Limithron</li>
    <li>Long Tail Games</li>
    <li>Michael Done (RaptorShadow)</li>
    <li>momatoes</li>
    <li>Philip J Reed</li>
    <li>Ryan D Wymer</li>
  </ul>

  <h2>Crazed Cvltist</h2>
  <ul class="credits-list" style="--columns: 3;" role="list">
    <li>&lt;Sneaky Beeping&gt;</li>
    <li>Adam Howe</li>
    <li>Adi Rice</li>
    <li>Alan Davis</li>
    <li>Alastair Binner</li>
    <li>Alex Thornton-Clark</li>
    <li>Andrew Lanier</li>
    <li>AragornZDark</li>
    <li>Billy Hamilton</li>
    <li>Bobby Lee</li>
    <li>Bracken MacLeod</li>
    <li>Brian Colin</li>
    <li>Brian Foster</li>
    <li>Bryan "Cybershaman(X)" Logie</li>
    <li>Charlie shaw</li>
    <li>Chris Hladik</li>
    <li>Chris Scown</li>
    <li>Christian Sykes</li>
    <li>Christopher Boone</li>
    <li>Christopher Lockey</li>
    <li>Connor C.</li>
    <li>Conor Tanji</li>
    <li>Damon Wilson</li>
    <li>David Muñoz</li>
    <li>Dirk Schlobinski</li>
    <li>Erik Hammerstrom</li>
    <li>Fitz'Khin</li>
    <li>Frank Reding</li>
    <li>Gabriel Herrin</li>
    <li>Gavriel Quiroga</li>
    <li>Gerard O'Brien</li>
    <li>Getaro</li>
    <li>Grahame 'TheInstaGrahame' Turner</li>
    <li>Ian Long</li>
    <li>Isaac Wilcox</li>
    <li>Isaac Williams</li>
    <li>Jacob Thompson</li>
    <li>Jason Fuhrman</li>
    <li>Jaume Ferrer Molinero</li>
    <li>Jeff Szusz</li>
    <li>Jerrod Stead</li>
    <li>jerrymuerte aka neanderthal</li>
    <li>John Baltisberger</li>
    <li>John Power Jr.</li>
    <li>Jonathan Hudon</li>
    <li>Jordan Carter</li>
    <li>Ken Lowery</li>
    <li>Kostas Pappas</li>
    <li>Lawson Johnson</li>
    <li>Luke Shaw</li>
    <li>Mark J. Featherston</li>
    <li>MarksQuests</li>
    <li>Markus Malmo Lange</li>
    <li>Marshall Lemon</li>
    <li>Martin Bonnevier Kronlid</li>
    <li>Martyn Allan</li>
    <li>Matt McCleland</li>
    <li>Matthew French</li>
    <li>Matthew Morris (ManaRampMatt)</li>
    <li>Matthew Screng Paluch</li>
    <li>Matthew Ward</li>
    <li>Michael Nagenborg</li>
    <li>Miguel A. Salgado</li>
    <li>Nacho Disk</li>
    <li>Namtabandy</li>
    <li>Nerd Sirens</li>
    <li>Nicholas King</li>
    <li>Owen McGauley</li>
    <li>Pablo Dapena</li>
    <li>Pablo Ruiz Valls</li>
    <li>Patrick P.</li>
    <li>Patrick Smith</li>
    <li>Philipp Teich</li>
    <li>Roland Boshnack</li>
    <li>Roll Damage</li>
    <li>Ronny Anderssen @ Ra Press</li>
    <li>Rugose Kohn</li>
    <li>Ryan Percy</li>
    <li>Ryan Russell</li>
    <li>SaintVitus1</li>
    <li>Samual King</li>
    <li>Sasha De'ath - {The Eldritch Tomb}</li>
    <li>Sebrina Calkins</li>
    <li>Shawn P</li>
    <li>Slaytanical</li>
    <li>St. Moha</li>
    <li>Steve Burnett</li>
    <li>Steve Runyan</li>
    <li>T. Houghton</li>
    <li>The Mad Wizard</li>
    <li>Thomas Geno-Stumme</li>
    <li>Thomas van Grol</li>
    <li>Tim “Danger” Hall</li>
    <li>Tully</li>
    <li>Tyler Lindsey</li>
    <li>XR</li>
    <li>Zach Schultz</li>
    <li>Zach Yokell</li>
    <li>Zbigniew Zelga</li>
  </ul>

  <h2>Fabled Dungeoneer</h2>
  <ul class="credits-list" style="--columns: 3;" role="list">
    <li>abracad_acab</li>
    <li>Alain Sarti</li>
    <li>Alex L</li>
    <li>Alyx</li>
    <li>Anders Russell</li>
    <li>Andy Brown</li>
    <li>Andy Gardner</li>
    <li>Anthony Koutroulis</li>
    <li>Arch DeLux</li>
    <li>B Halliday</li>
    <li>Ben O'Connor</li>
    <li>Brian Dysart</li>
    <li>BW Swartz</li>
    <li>Cagax the Colorblind Occultist</li>
    <li>Calen Heydt</li>
    <li>Chalkdown</li>
    <li>Charley/Mord4k</li>
    <li>Charlie Vick</li>
    <li>Chris Sylvis</li>
    <li>Christian Eichhorn</li>
    <li>Dave Eden</li>
    <li>David Harvison</li>
    <li>djflippy</li>
    <li>Douglas McAndrew</li>
    <li>Emiel Boven</li>
    <li>Eric Rumfelt</li>
    <li>Eryk Sawicki</li>
    <li>Forstmester Meidell</li>
    <li>Frankie Swa</li>
    <li>Heckin' Viv</li>
    <li>Henry Wentworth Akeley</li>
    <li>Hrvoje Ruhek</li>
    <li>Huffa Frobes-Cross</li>
    <li>ian Lovecraft</li>
    <li>Iko</li>
    <li>J.P. MacDonald</li>
    <li>Jesse Alexander</li>
    <li>Joey "Bemused_GM" Neuendorff</li>
    <li>John Casey</li>
    <li>John Hall (Rollers of R'lyeh Podcast)</li>
    <li>Jonathan Swadley</li>
    <li>Joshua K.</li>
    <li>Kevin LaForest</li>
    <li>Krieg Knight</li>
    <li>Lars Nilsson</li>
    <li>Luigi Pizzinu</li>
    <li>Lukas Feinweber</li>
    <li>LupusAmicus</li>
    <li>machinic</li>
    <li>Marcia B.</li>
    <li>Matt Kay</li>
    <li>Max Glasner</li>
    <li>Max Lander</li>
    <li>Max Moon</li>
    <li>Michael G. Potter</li>
    <li>Michael Stensen Sollien</li>
    <li>Morgan Hay</li>
    <li>Neil de Carteret</li>
    <li>Nell Azathoth Tull</li>
    <li>Nicholas Schlensker</li>
    <li>Nick Castillo</li>
    <li>Nikolas Wolff</li>
    <li>Patrick Farrell</li>
    <li>Peter Stadtmueller</li>
    <li>PS Berge</li>
    <li>seb pines</li>
    <li>Shankira</li>
    <li>SkeletonKey Games</li>
    <li>The Sherwood Family</li>
    <li>Thyme</li>
    <li>Tim Jacobs</li>
    <li>Tseb</li>
    <li>Victor Pardinho</li>
    <li>vil</li>
    <li>Wes Fournier</li>
    <li>Your Mother</li>
  </ul>

  <p>And last but certainly not least, a person I admire immensely. Love, even. Karl Druid.</p>
</div>
