<% content_for(:title) do %><%= @tag.name %><% end %>

<div class="cluster | cluster-space cluster-baseline">
  <div>
    <h1><%= @tag.name %></h1>
  </div>
</div>

<%= @tag.description %>

<div class="stack | stack-l">
  <%= render @tag.entries %>
</div>
