<div class="tw-bg-secondary-3 tw-text-secondary-11">
  <div class="tw-container tw-mx-auto tw-py-2 tw-px-4">
    <div class="tw-text-sm tw-font-body tw-flex tw-gap-1 tw-flex-wrap">
      <% @links.each do |link|%>
        <%= render ButtonComponent.new(label: link[:label], path: link[:path], type: :secondary) %>
      <% end %>
    </div>
  </div>
</div>
