<div class="tw-bg-secondary-2 tw-text-secondary-11">
  <div class="container centre | tw-flex tw-gap-3 tw-bg-secondary-2 tw-px-4 tw-py-1.5 tw-font-body tw-flex-wrap">
    <% @links.each do |link|%>
      <em><%= link_to link[:label], link[:path] %></em>
    <% end %>
  </div>
</div>
