<div class="tw-bg-secondary-3 tw-text-secondary-11">
  <div class="container | centre | pl-l pr-l tw-py-2">
    <div class="size--1 tw-font-body tw-flex tw-gap-1">
      <% @links.each do |link|%>
        <%= render ButtonComponent.new(label: link[:label], path: link[:path], type: :secondary) %>
      <% end %>
    </div>
  </div>
</div>
