.cluster {
  --cluster-space: var(--space-s);
  /* ↓ Suppress horizontal scrolling caused by
  the negative margin in some circumstances */
  // overflow: hidden;
}

@each $spacing-name, $value in $spacing-map {
  .cluster-#{$spacing-name} {
    --cluster-space: #{$value};
  }
}

.cluster-space > * {
  justify-content: space-between;
}

.cluster-center > * {
  justify-content: center;
}

.cluster-baseline > * {
  align-items: baseline;
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  /* ↓ multiply by -1 to negate the halved value */
  margin: calc(var(--cluster-space) / 2 * -1);
}

.cluster > * > * {
  /* ↓ half the value, because of the 'doubling up' */
  margin: calc(var(--cluster-space) / 2);
}

.cluster > * > .cluster-grow {
  flex-grow: 1;
}
