.imposter {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.imposter.contain {
  --margin: 0;
  max-height: calc(100% - (var(--margin) * 2));
  max-width: calc(100% - (var(--margin) * 2));
  overflow: auto;
}
