<%= content_tag :li, id: dom_id(tag), role: "option", class: "hover-highlight-yellow" do %>
  <span data-controller="highlight">
    <span class="p-2xs">
      <%= tag.name %>
      <%= hidden_field_tag "tags[]", tag.slug %>
      <button type="button" class="search--tag-remove hide-if-disabled" data-action="click->combobox#remove">x</button>
    </span>
  </span>
<% end %>
