<div class="tw-flex tw-flex-col tw-gap-24">
  <%= render Dashboard::CategoriesComponent.new(categories: @dashboard.categories) %>

  <%= render Dashboard::LatestEntriesComponent.new(entries: @dashboard.recently_created_entries) %>
</div>
