<h2>Categories</h2>

<ul>
<% @dashboard.categories.each do |category| %>
  <li>
    <%= link_to category.name, category %>
    <em>Some description...</em>
  </li>
<% end %>
</ul>

<h2>Latest Additions</h2>

<ul>
<% @dashboard.recently_created_entries.each do |entry| %>
  <li>
    <%= link_to entry.name, entry %>
  </li>
<% end %>
</ul>
