<% content_for(:pre_header) do %>
  <div class="dashboard-cover | p-l" data-controller="scroll-progress">
    <div class="dashboard-cover--content | container stack centre | palatino highlight-black c-white">
      <h1 class="size-4" data-controller="highlight"><span class="p-xs">Ex Libris Mörk Borg</span></h1>
      <div class="size-2 leading-small" data-controller="highlight">
        <p data-controller="highlight"><span class="inline-block p-xs">A directory of content, tools, and resources for the Mörk Borg RPG</span></p>
      </div>
    </div>
  </div>
<% end %>

<div class="stack | stack-3xl">
  <div class="stack | stack-m align-center">
    <h2 class="unifraktur size-5">Categories</h2>

    <dl class="columns | plex-mono" style="--columns: 2; --items: <%= @dashboard.categories.count %>">
      <% @dashboard.categories.each do |category| %>
        <div>
          <dt><%= link_to category.name, category, data: { controller: "highlight" } %></dt>
          <dd><%= category.short_description %></dd>
        </div>
      <% end %>
    </dl>
  </div>

  <div class="stack | stack-m align-center">
    <h2 class="unifraktur size-5">Latest Additions</h2>

    <ul class="align-start">
      <% @dashboard.recently_created_entries.each do |entry| %>
        <li>
          <%= link_to entry.name, entry %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
