@keyframes appear {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes wobble {
  from {
    transform: rotate(-0.15turn);
  }

  to {
    transform: rotate(0.15turn);
  }
}

.dashboard-cover {
  --progress: 0;
  --start-size: 0.4;
  --end-size: 2.2;
}

.dashboard-cover--image-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.dashboard-cover--image {
  transform: scale(calc(var(--start-size) + ((var(--end-size) - var(--start-size)) * var(--progress))));
  z-index: 0;
}

.dashboard-cover--please-scroll {
  animation: appear 1s ease-in 3s both;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 2;

  img {
    animation: wobble 1s steps(4, jump-both) 0s infinite alternate both;
  }
}

.dashboard-cover--content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: flex-start;
  margin-top: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  .dashboard-cover--image {
    transform: none;
  }

  .dashboard-cover--please-scroll {
    animation: none;

    img {
      animation: none;
    }
  }
}
