.icon {
  height: var(--icon-size, var(--font-size));
  width: var(--icon-size, var(--font-size));

  path {
    fill: var(--icon-color, var(--color-foreground));
  }
}

@each $sizing-name, $value in $sizing-map {
  .icon-#{$sizing-name} {
    --icon-size: $value;
  }
}
