.search {
  width: 100%;
}

.search--submit {
  cursor: pointer;
}

.search--field {
  align-items: center;
  display: flex;
}

.search input {
  background: none;
  border: unset;
  outline: none;
  padding-bottom: 2px;

  &:active,
  &:focus {
    border-bottom: 2px solid var(--color-foreground-translucent);
    outline: none;
    padding-bottom: 0;
  }
}

.search .icon-search {
  margin-right: var(--space-2xs);

  .primary {
    fill: none;
  }

  .secondary {
    fill: var(--icon-color, var(--color-foreground));
  }
}

.search--tag-list {
  left: 0;
  list-style: none;
  position: absolute;
  text-align: initial;
  width: max-content;
  z-index: 2;

  [role="option"]:hover {
    cursor: pointer;
  }
}

.search--tag-remove {
  background: none;
  border: 0;
  font-family: inherit;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    display: none;
  }
}
