.tile {
  --size: 16rem;

  background-color: var(--color-foreground);
  background-image: url("tile_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: var(--size);
  padding: 0.75rem;
  position: relative;
  width: var(--size);
}

.tile--cover {
  background-image: var(--cover-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.tile--detail {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.25rem;
}
