@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  optgroup,
  select,
  textarea {
    color: text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
}
