<div class="cluster | cluster-baseline cluster-space">
  <div>
    <h1><%= t(".title") %></h1>

    <div>
    <%= link_to t(".new_entry_link"), new_admin_entry_path %>
    </div>
  </div>
</div>

<div class="stack | stack-l">
  <%= render partial: "entries/entry", collection: @entries, locals: { namespace: :admin } %>
</div>
