<a href="https://www.patreon.com/exlibrismorkborg" class="announcement | c-yellow bg-black hover-c-black hover-bg-yellow">
  <div class="container | centre | align-center p-s pl-l pr-l">
    Ex Libris Mörk Borg is growing in power &mdash; become a devout supporter on Patreon
  </div>
</a>
