<a href="https://www.patreon.com/exlibrismorkborg" class="announcement | tw-bg-secondary-1 tw-text-accent-1 hover:tw-bg-accent-1 hover:tw-text-accent-12">
  <div class="container | centre | align-center p-s pl-l pr-l">
    Support Ex Libris Mörk Borg on Patreon
  </div>
</a>
