<div class="tw-text-white tw-px-4 tw-py-16 tw-flex tw-flex-col tw-place-content-center tw-place-items-center tw-gap-3 lg:tw-py-0 lg:tw-grid tw-grid-cols-[512px_minmax(512px,_768px)] tw-grid-rows-[100vh_auto] lg:tw-gap-y-0 tw-min-h-screen">
  <div class="tw-contents lg:tw-flex tw-flex-col tw-place-items-center tw-place-content-center lg:tw-sticky tw-top-0 tw-place-self-stretch tw-text-center tw-font-display tw-gap-3">
    <%= render ExLibrisLogoComponent.new %>

    <p class="tw-max-w-md tw-order-2 tw-drop-shadow-sm">
      Catalogues of all the incredible content created by you, the community, for some of our favorite indie RPGs.
    </p>

    <p class="tw-font-extrabold tw-max-w-md tw-order-3 tw-drop-shadow-sm">
      We’ve got no chance of keeping up!
    </p>

    <p class="tw-max-w-md tw-order-5 tw-drop-shadow-sm">
      Plus we&apos;re on <a href="https://discord.gg/ArZkHzw78u" class="tw-font-extrabold tw-underline tw-underline-offset-4">Discord</a> for everything else.
    </p>
  </div>

  <ul class="tw-flex tw-flex-row tw-place-content-center tw-flex-wrap tw-gap-4 tw-col-start-2 tw-order-4 tw-max-w-3xl tw-py-5 lg:tw-py-12 tw-row-span-2">
    <% @systems.each do |system| %>
      <li>
        <%= render SystemTokenComponent.new(name: system.name, count: system.entries.count, url: site_url(subdomain: system.slug), live: system.live) %>
      </li>
    <% end %>
  </ul>
</div>
