:root {
  --dis-black: 0deg 0% 0%;
  --dis-red: 0deg 100% 30%;
  --dis-white: 0deg 0% 100%;
  --dis-gray: 0deg 0% 60%;

  /* search bar bg, search term match fg */
  --color--accent-1: var(--dis-red);
  /* header bg */
  --color--accent-2: var(--dis-black);
  /* search bar bg, latest additions bg */
  --color--accent-3: var(--dis-red);
  /* each latest item bg */
  --color--accent-4: var(--dis-black);
  /* button border */
  --color--accent-6: var(--dis-red);
  /* button hover border */
  --color--accent-7: var(--dis-red);
  /* search term match bg */
  --color--accent-9: var(--dis-black);
  /* search bar text */
  --color--accent-11: var(--dis-white);
  /* header text, search bar magnifying glass icon */
  --color--accent-12: var(--dis-white);

  /* main text, including entry content and categories /latest additions title text */
  --color--main-11: var(--dis-white);

  /* colors.primary; main content bg */
  --color--primary-1: var(--dis-black);

  /* footer bg */
  --color--secondary-2: var(--dis-black);
  /* top separator bar */
  --color--secondary-3: var(--dis-black);
  /* footer text */
  --color--secondary-11: var(--dis-white);

  --font-family--body: "IBM Plex Mono";
  --font-family--brand: "IBM Plex Mono";
  --font-family--display: "IBM Plex Mono";
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.tw-button {
  border-radius: 0%;
  border-color: hsl(var(--dis-red));
  text-transform: uppercase;
}
